# {{ package.name | _inline_code }}: {{ package.description }}

**Licenses:** {% for license in package.licenses -%}
[{{ license.title or license.name }}]({{ license.path }})
{%- if not loop.last %}, {% endif -%}
{% endfor %}

**Version:** {{ package.version }}

**ID:** {{ package.id }}

{{ package.description }}

## Contributors

{% for contributor in package.contributors -%}
- {{ contributor.title }}: {{ contributor.roles | join(', ') }}

  <{{ contributor.email }}>
{% endfor %}

## Resources

{% for resource in package.resources -%}
### {{ resource.title }} ({{ resource.name | _inline_code }})

{{ resource.description }}

- Path: {{ resource.path | _inline_code }}
- Primary key: ({{ resource.schema.primaryKey | _inline_code_list }})
{% if resource.schema.foreignKeys -%}
- Foreign keys:
{% for fk in resource.schema.foreignKeys %}
  - From fields ({{
        fk.fields | _inline_code_list
    }}) to fields ({{
        fk.reference.fields | _inline_code_list
    }}) in resource {{
      (fk.reference.resource or resource.name)
      | _inline_code
    }}
{%- endfor %}
{%- endif %}

| Title | Name | Type | Description |
|-------|------|------|-------------|
{% for field in resource.schema.fields -%}
| {{ field.title }} | {{ field.name | _inline_code}} | {{ field.type }} | {{ field.description }} |
{% endfor %}
: Fields in the {{ resource.name | _inline_code }} resource.

{% endfor %}
